@media (max-width: 900px) {
  .header_container {
    height: 120px;
    display: flex;justify-content: space-between;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: yellow;
  }
  .space{
    flex:none;
  }
  ul {
    width: 100%;
  }
  li a{
    font-size: 30px;

  }

}


@media (max-width: 600px) {
 
  .header_container {
    height: 120px;
   
    background-color: green;
    padding: 0px;
  }
  .header_container .nav {
    padding: 0px;
  }
  .space{
    flex:none;
  }
  ul {
    display: flex;
    width: 100%;
    padding-right: 40px;

  }
  li a{
    font-size: 12px;
    padding: 5px;

  }

}