*{
  box-sizing: border-box;
  margin: 0;
  position: relative;

}

body{
  margin: 0px;
  height: 0px;
}
element.style {
  height: 0;
}
.header_container 
{
  position: fixed;
  background-color: white;
  margin: 1px 0px 5px 0px;
  height: 60px;
  top:0;
  padding-left: 20px;
  padding-right: 20px;
  width:100%;
  box-shadow:0px 20px 50px rgb(153, 152, 152) ;
  z-index: 10;
  }
 
.nav {
display:flex;
height: 100%;
align-items:center;
padding: 0 1rem;
}


ul{
  list-style-type:none;
  margin: 0;
 
  
}
li {
  float: left;
}

li a {
  display: block;
  color: black;
  font-family: 'Quintessential';
  font-size: 23px;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
 
}

li a:hover {
  border-top: solid rgba(198, 154, 124, 1);
  background-color: white;
}


.space{
  flex:1;
}




/* ------------------HOME-----------------*/



.home_container{
  position: relative;
  background-image: url(./img/back2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 clip-path: polygon(0 0, 100% 0, 100% 80%, 65% 100%, 35% 100%, 0 80%);
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
margin-right: 0;
}
.home_text {
  margin: 150px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_text p{
  font-family: 'Quintessential';
  font-size: 40px;
}
.home_text .button_home {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height:30px;
  width:150px;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  border-radius: 10%;

}
.home_container a{
  text-decoration: none;
  color: black;
}

.home_container a:hover{
  color: rgba(198, 154, 124, 1);
}

/* ------------------HOME-----------------*/

.home_text {
  margin: 0 ;

}
#logo {
  width: 150px;
  height: 150px;
  
}
.home_text p{
  font-family: 'Quintessential';
  font-size: 30px;
  margin-bottom: 20px;
}


/*
ABOUT
*/

.skills_container{
  position: relative;

  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .tab {
  display: flex;
  flex-direction: row;
}
.box_shape_p {
  margin-top:50px;
    position: absolute; 
    height: 332px; 
    width: 347px; 
    background-image:  linear-gradient(to left top, #c6997cce, #ddaca0, #ecc1c3, #f6d8e3, #dcc7d7);; 
    border-radius: 6px; 
    left: 10px; 
    transform: rotate(113deg) skew(46deg); 
    -webkit-transform: rotate(113deg) skew(46deg); 
    z-index: 1;
    opacity: 75%;
}

 .box_ab {
  
  z-index:3;width: 50%;
 }
 .tab .box_ab  .tab-list {
padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 420px; 
     width: 380px;
  overflow: hidden; 
  background-color: #c4c4c4d0; 
     border-radius: 10px; 

}


  .tab  .tab-list button {
    text-align: left;
    display: block;
    width: 350px;
    color: black;
    background-color: #C4C4C4;
    border: none;
    padding: 10px;
    margin: 0 0 2px 0;
    font-weight: 600;
    font-style: italic;
    font-size: 36px;
   cursor: pointer;
  }

  .tab .tab-list button.active, .tab .tab-list button:hover {
    color: #A76C43; }
 .tab .tab-wrap {
        width: 800px;
        height: 500px;
        background: none;

        color: #333;
        padding: 20px 0 0; 
      }
  .tab .tab-content {
        display: none;
        
      }
#t1 {
   padding: 50px 0 0 20px;
     
      }
#t2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
      }
      #t3{
        padding: 100px 0 0 40px;
      }
      #t4{
        padding: 20px 0 0 40px;
      }
  .tab .tab-content.active {
          display: block; 
        }
  .tab .tab-content  p {
    margin-left: 60px;

    color:black;
    font-size: 18px;
    font-style: italic;
    font-family: 'Roboto';}
.tab .tab-wrap .tab-content  h1{
margin-top: 15px;
    color: #A76C43;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Roboto';
  }
  .tab .tab-wrap .tab-content  h2{
    margin-left: 30px;
    color:black;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Roboto';
  }
  .tab .tab-wrap .tab-content .circle{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background: #c4c4c4;
    border-radius: 50%
    }
    .progress_item {
      display: flex;
      flex-direction: column;
width:100px;
margin:10px;}
.progress_item .progress {
width: 100%;

}
.progress_item .progress_text {
  width: 100%;
display: flex;
justify-content: left;
font-family: 'Roboto';}
    .dot{
      height: 15px;
      width: 15px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      ;
    }
    #d1 {
      animation: animate 4s ease forwards
    }
    @keyframes animate {
      from {
        background-color: #bbb;
      }
    
      to {
        background-color: #A76C43;
      }
      
    }
#row_skill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .soft_skills {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
table {
  width: 500px;
}
table thead {
  background:  #a76d4395;
  border-bottom: 2px solid black;
}

table td{
  width: 33.33%;

}
#row_skill {
  margin: 0 0 20px 10px;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  font-size: 18px;
  font-style: italic;
  font-family: 'Roboto';

}
table td #row_skill {
  font-size:12px;
}


  #work {
    margin: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    font-size: 18px;
    font-style: italic;
    font-family: 'Roboto';
  
  }

/*
PORTFOLIO
*/
.portfolio_container{
  padding-top:100px;
  background-color: white;
  height: 100vh;
  width: 100%;

}
.portfolio_container .tab {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tab .tab-wrap {
  border:none;
}
.portfolio_container .tab .tab-list{
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  width: 100%;
}
.portfolio_container .tab-wrap {
  width: 100%;
  margin: 0px 20px 0px 20px;
}
.portfolio_container .tab .tab-list button {
  width: auto;
  font-size: 24px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  outline: none;
}
.box_portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;

}
 .item_box{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  width: 350px;
  height: 50px;
  box-shadow: 1px 1px 53px -16px rgba(0,0,0,0.75);
  border-radius: 5px;
  cursor: pointer;

}
.item_box:hover {
  height: 300px;
}

.item_box .img_box{
  position: relative;
}
.item_box .img_box  {
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 170px;
  border-radius: 5px;
visibility: hidden;
}
.item_box:hover .img_box {
  margin-top: 0;
  visibility: visible;
  
}
.item_box .content{
  padding: 5px 15px 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.content a{
  text-decoration: none;
  color:black;
  pointer-events: none;
}
.item_box:hover .content a {
  pointer-events: visible;
}
.content a:hover{
  color:#A76C43;

}

/*Contact*/
.contact_container{
  height: 480px;
  position: relative;
padding-top: 80px;

}
.contact_container .contact_box{
  display: flex;
flex-direction: row;
width: 100%;
height: 200px;
}
.contact_container h1 {
  padding-bottom: 20px;
  color: #A76C43;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  font-family: 'Roboto';
}

.contact_container .infos {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  padding: 5px;
  width: 50%;
}
.contact_container .infos a{
  text-decoration: none;
  color:black;
}

.contact_container .infos a:hover{
  color: #A76C43;
}
.contact_container .form {
  width: 50%;
  height: 500px;
  padding-right: 40px;
  margin-top: 20px;
}

.contact_container form {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
}
.form label {
  font-size: 10px;
  font-family: 'Roboto';

}
.form input {
border:none;
outline: none;
border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  border:none;
  border-bottom: solid 1px grey;
width: 400px;
font-family: 'Roboto';
}
.form input:focus   {
border-bottom: solid 3px  #A76C43;
}
.form textarea {
  height: 150px;
  width: 400px;
  border-radius: 5px;
  padding: 10px;
  border:none;
  border-bottom: solid 1px grey;
  outline: none;
  font-family: 'Roboto';
}
.form textarea:focus   {
  border-bottom: solid 3px  #A76C43;

  }

.form .send{
  width: 400px;
  display: flex;
  justify-content: flex-end;
  
}
#send {

  margin-top: 10px;
  width: 80px;
  border-radius: 5px;
  cursor: pointer;
}
#send:focus , #send:hover {
  background-color: #a76d43b1;
  border:none;
  color:white;
  font-family: 'Roboto';
}



/*Footer*/

footer{
  position: relative;
  width: 100%;
  height: 120px;
  background-color:#c6997cce;
  margin: 0;

}
.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.social {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-between;
  font-size: 30px;
  opacity: 0.5;
  padding-top: 20px;
}
.social a {
  text-decoration: none;
  color:black;
}
.footer_container h1{
  font-size: 20px;
    font-style: italic;
    font-family: 'Roboto';
    color: rgba(0, 0, 0, 0.85);
}





@media (max-width: 600px) {
 
  .header_container {
    height: 60px;
   
    padding: 0px;
  }
  .header_container .nav {
    padding: 0px;
  }
  .space{
    flex:none;
  }
  ul {
    display: flex;
    width: 100%;
    padding-right: 40px;

  }
  li a{
    font-size: 20px;
    padding: 5px;

  }
}

@media (max-width: 500px) {
  .header_container {
    margin: 0px 0px 5px 0px;
    position: fixed;
  }
  .home_container {
    clip-path: polygon(0 0, 100% 0, 100% 89%, 65% 100%, 35% 100%, 0 89%);
height: 800px;
  }
  .home_text {
    margin: 0 ;
  
  }
  #logo {
    width: 120px;
    height: 120px;
    
  }
  .home_text p{
    font-family: 'Quintessential';
    font-size: 30px;
    margin-bottom: 20px;
  }
 
.tab {
      display: flex;
      flex-direction: column;
      width: 300px;
      margin-top: 70px;
    }
    
  .skills_container .tab  .tab-list {
    padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    justify-content: center;
      margin:40px 0px 0px 0px;
      width: 300px;
      height: 100px; 
      overflow: hidden; 
         border-radius: 10px; 
    
    }
    
    
    .tab .tab-wrap {
      margin: 0;
      display: flex;
      z-index: 6;
      width: 300px;
    }
      .tab  .tab-list button {
        text-align: left;
        display: block;
        width: auto;
        color: black;
        background-color: transparent;
        border: none;
        padding: 5px;
        margin: 0 0 5px 0;
        font-style: italic;
        font-size: 16px;
       cursor: pointer;
       outline: none;
      }
       .box_shape_p {
        margin-left:-40px;
          position: absolute; 
          height: 100px; 
          width: 300px; 
          background-image:  linear-gradient(to left top, #c6997cce, #ddaca0, #ecc1c3, #f6d8e3, #dcc7d7); 
          border-radius: 6px; 
          transform: rotate(13deg) skew(46deg); 
          -webkit-transform: rotate(13deg) skew(46deg); 
          z-index: 1;
          opacity: 75%;
      } 
      .tab .tab-wrap, .tab-content {
        width: 100%;
      }
      .box_portfolio {
        display: flex;
align-items: center;     
 }
      .tab .tab-content  p {
        margin-left: 60px;
    
        color:black;
        font-size: 10px;
        font-style: italic;
        font-family: 'Roboto';}
    .tab .tab-wrap .tab-content  h1{
    margin-top: 40px;
        color: #A76C43;
        font-size: 16px;
        font-style: italic;
        font-weight: bold;
        font-family: 'Roboto';
        vertical-align: center;

      
      }
      .tab .tab-wrap .tab-content .circle {
        margin-top: 40px;
       

      }
      .tab .tab-wrap .tab-content  h2{
        margin-left: 40px;
        color:black;
        font-size: 14px;
        font-style: italic;
        font-weight: bold;
        font-family: 'Roboto';
      }
      .tab .tab-wrap .tab-content li {
        font-size: 12px;
        padding: 5px;
    
      }
      
      #t1 {
        padding: 0px ;
      
       }
       #t3{
         padding: 0px ;
       }
       #t4{
         padding: 0px ;
       }

  .skills_container {
    height: fit-content;
    padding-bottom: 40px;

  }   
      
#t2 {
  margin-top:40px;
  padding:0px;
  
}.progress_text {
  font-size: 12px;
}
.soft_skills {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-width: 100px;
}
table {
  width: 300px;
}
table td{
  width: 33.33%;

}
#row_skill {
  list-style: none;
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-style: italic;
  font-family: 'Roboto';
padding: 0px;
}
#row_skill li{
  font-size: 10px;

}
table td #row_skill {
  font-size:10px;
}
#t3 span {
  margin:0px;
}

/*Portfolio*/
.portfolio_container {
  height: 850px;
  margin: 0px;
  padding: 0px;
}
.portfolio_container .tab .tab-list {
display: flex;
justify-content: center;
}
.portfolio_container .tab .tab-list button {
  width: auto;
  font-size: 14px;
  background-color: #C4C4C4;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  outline: none;

}

.box_portfolio {
  display: flex;
  flex-direction: column;
  justify-content:center;

}

/*Contact*/
.contact_container {
height: 300px;
width:300px;
padding-top: 0px;
margin-top:100px;
}

.contact_container .infos {
  width: 100%;

}
.form {
  display: none;
  width:0px;
}
.arrow , .arrow img {
  display:none;
}

.contact_container h1 {
  padding-bottom: 20px;
  color: #A76C43;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  font-family: 'Roboto';
}
.contact_container h2 {
  font-size: 16px;
}
.contact_container i {
  font-size: 12px;
}

  .footer_container {
    width: 100%;
  }

    }
