*{
  box-sizing: border-box;
  margin: 0;
  position: relative;

}

body{
  margin: 0px;
  height: 0;
}

.header_container 
{
  position: fixed;
  background-color: white;
  margin: 5px 0px 5px 0px;
  height: 60px;
  top:0;
  padding-left: 20px;
  padding-right: 20px;
  width:100%;
  box-shadow:0px 20px 50px rgb(153, 152, 152) ;
  z-index: 2;
  }
 
.nav {
display:flex;
height: 100%;
align-items:center;
padding: 0 1rem;
}


ul{
  list-style-type:none;
  margin: 0;
 
  
}
li {
  float: left;
}

li a {
  display: block;
  color: black;
  font-family: 'Quintessential';
  font-size: 23px;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
 
}

li a:hover {
  border-top: solid rgba(198, 154, 124, 1);
  background-color: white;
}


.space{
  flex:1;
}




/* ------------------HOME-----------------*/



.home_container{
  position: relative;
  background-image: url(./img/backg.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
margin-right: 0;
}
.home_text {
  margin: 150px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_text p{
  font-family: 'Quintessential';
  font-size: 40px;
}
.home_text .button_home {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height:30px;
  width:150px;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  border-radius: 10%;

}
.home_container a{
  text-decoration: none;
  color: black;
}

.home_container a:hover{
  color: rgba(198, 154, 124, 1);
}

/* ------------------HOME-----------------*/

.home_text {
  margin: 0 ;

}
#logo {
  width: 150px;
  height: 150px;
  
}
.home_text p{
  font-family: 'Quintessential';
  font-size: 30px;
  margin-bottom: 20px;
}











@media (max-width: 900px) {
  .header_container {
    height: 120px;
    display: flex;justify-content: space-between;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: yellow;
  }
  .space{
    flex:none;
  }
  ul {
    width: 100%;
  }
  li a{
    font-size: 30px;

  }

}


@media (max-width: 600px) {
 
  .header_container {
    height: 60px;
   
    padding: 0px;
  }
  .header_container .nav {
    padding: 0px;
  }
  .space{
    flex:none;
  }
  ul {
    display: flex;
    width: 100%;
    padding-right: 40px;

  }
  li a{
    font-size: 20px;
    padding: 5px;

  }
}

@media (max-width: 375px) {
  .home_text {
    margin: 0 ;
  
  }
  #logo {
    width: 120px;
    height: 120px;
    
  }
  .home_text p{
    font-family: 'Quintessential';
    font-size: 30px;
    margin-bottom: 20px;
  }
}
